body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 251, 247);
}

.container {
    display: flex;
    background-color: black;
    height: 600px;
    margin: 30px;
    border-radius: 30px;
}


.banner-contain {

    padding: 100px;
}

.banner-contain h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    color: azure;
}

.banner-contain p {
    color: azure;
}

.banner-image img {
    height: 581px;
    width: 613px;
}

.watch {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #e2fce2;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.Watch-text,
.Watch-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.Watch-icon {
    font-size: 1.5em;
}

.watch:hover {
    color: #c4d1dd;
    background: #eb5f5a;
    box-shadow: 0 0 10px #3ae048, 0 0 40px #cbdf1e, 0 0 40px #e0cde2;
}

.match-Schedule-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    min-height: 250px;
    padding-left: 80px;
    width: 250px;

}

.btn-1 {
    width: 200px;
    height: 50px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(194, 7, 7);
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-in-out 0.3s;
    font-size: 15px;
    outline: none;
}

.btn-1:hover {
    box-shadow: inset 300px 0 0 0 black;
    cursor: pointer;
    color: azure;
}

.btn-2 {
    width: 200px;
    height: 50px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: bisque;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-in-out 0.3s;
    font-size: 15px;
    outline: none;
}

.btn-2:hover {
    box-shadow: inset 300px 0 0 0 rgb(0, 0, 0);
    cursor: pointer;
    color: azure;
}

.btn-3 {
    width: 200px;
    height: 50px;
    border: none;
    color: rgb(0, 0, 0, );
    background-color: bisque;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-in-out 0.3s;
    font-size: 15px;
    outline: none;
}

.btn-3:hover {
    box-shadow: inset 300px 0 0 0 rgb(0, 0, 0);
    cursor: pointer;
    color: azure;
}

.blog-title {
    border: 1px solid;
    width: 20%;
    text-align: center;

}

.blog-info {
    display: flex;
    align-items: center;
    gap: 20px;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 300px;
    margin-top: -220px;
}


hr {
    width: 1100px;
    color: aliceblue;
}

.footer h1 {
    text-align: center;
    font-size: 30px;
}

.footer {
    background-color: rgb(204, 184, 184);
    padding: 40px 0;
    margin-top: 80px;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    margin-top: 30px;

}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 50px;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

/* smaller divce */
@media screen and (max-width: 576px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);


    }

}

@media screen and (min-Width: 577px) and (max-width: 700px) {
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
}